/*This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
    */

@font-face{
	font-family:osx;
	src: url("https://files.gamebanana.com/bitpit/helveticaneue.ttf");
}

@font-face{
	font-family:osx-hv;
	src: url("https://files.gamebanana.com/bitpit/helveticaneue_medium.ttf");
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: #ff59c2;
}

::selection {
  color: white;
  background: #ff59c2;
}

*{
	font-family:osx;
	color:#ffffff;
}

.topLeft, .topRight, #header, .player, .songName{
	background:url("https://files.gamebanana.com/bitpit/image_2_.png") !important;
	background-size:cover !important;
	background-attachment:fixed !important;
	color:#ffffff;
}

.blogs, .blogPost{
	background:url("https://files.gamebanana.com/bitpit/image_2_.png") !important;
	background-size:cover !important;
	background-attachment:fixed !important;
	color:#ffffff;
	border-radius:0px 30px 30px 0px;
}
.blog{
	background:url("https://files.gamebanana.com/bitpit/image_2_.png") !important;
	background-size:cover !important;
	background-attachment:fixed !important;
	color:#ffffff;
	border-radius:0px 0px 0px 0px;
}

.avatar{
	border-radius:15px 15px 15px 15px;
}

.box{border:none;}
.boxHead, .songName{border-radius:10px 10px 0px 0px;padding-left:10px;padding-right:10px;}
.rightHead{border-radius:5px 5px 5px 5px;padding-left:6px;padding-right:6px;}

#container {
	margin-top:15px;
}

body, #hSub, .boxHead, .rightHead{
	background:url("https://files.gamebanana.com/bitpit/macos-big-sur-apple-layers-fluidic-.jpg") !important;
	background-size:cover !important;
	background-attachment:fixed !important; 
}

.topLeft {
	border-radius:30px 0px 0px 30px;
}
.topRight {
	border-radius:0px 30px 30px 30px;
}

#name, .uName, a, div, .boxButton{
	font-family:osx;
	color:#ffffff;
}

h1, h2, h3, h4, h5, .shortRight, input, button, #hSub a, #hUp a, .sep, #hSub{
	font-family:osx-hv !important;
	color:#ffffff !important;
}

button, input{
	border:none;
	border-radius:10px 10px 10px 10px;
	background:#f2f2f2;
	color:#000000 !important;
	transition-duration:0.3s;
}
button:hover, input:hover{
	background:#4763ff;
	color:#ffffff;
}

#commentInput{
	border-radius:5px 5px 5px 5px;
	border:none;
	background:#dbdbdb;
	color:#000000;
	font-family:osx;
}

.tableRight{
	background:#dbdbdb;
	border-radius:0px 10px 10px 0px;
}

.tableLeft{
	background:#f2f2f2;
	border-radius:10px 0px 0px 10px;
}

.tableRight p, .tableLeft p, .tableRight b, .tableLeft b{
	color:#000000 !important;
}

.url{
	display:none;
}

#footer{margin-top:10px;}

#online{content:url("https://files.gamebanana.com/bitpit/online_1__5d182.gif");}

/* Smartphone Portrait and Landscape */
  @media only screen
    and (min-device-width : 50px)
    and (max-device-width : 800px){
     .topLeft {position:static;border-radius:30px 30px 0px 0px;} .blogCard{width: -webkit-fill-available;} .topRight{border-radius:0px 00px 30px 30px}}
@media only screen
    and (min-device-width : 400px)
    and (max-device-width : 700px){
     .blogCard{width: -webkit-fill-available;} .topLeft{width: -webkit-fill-available;}
  }/*end smartphone compat section*/
