img{transition-duration:0.3s;}
img:hover {
  transform:scale(1.1);
  transition-duration:0.3s;
  
  animation:wiggle-a5y125 0.2s linear 0.05s infinite;
}

@keyframes wiggle-a5y125 {
  0%, 100%{transform:scale(1.1)rotate(0.007turn);}
  50%{transform:scale(1.1) rotate(-0.006turn);}
}

.box.blurbs img:hover, .shortRight img:hover, .tableRight img:hover {transform:none;animation:none;}
