/*This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
    */

 * {
    cursor: url(https://files.gamebanana.com/bitpit/chirstmas_normal_select.cur), auto;
}

.topLeft.blogCard{margin-top:10px !important;}

div{background-opacity:0.92;} /*css 3 doesn't support this*/
}

#viewFriends{
    background:rgba(148, 45, 31, 0.8);backdrop-filter: blur(2px);
    padding-right:22px;
    padding-left:22px;
    border:5px #306304 solid;
    border-radius:20px;
} 

#footer{
    color:#9be65a;
    border:5px solid #9be65a;
    border-radius:40px;
    background:rgba(148, 45, 31, 0.8);backdrop-filter: blur(2px);
   /*position:sticky; /*optional*/
}

#container{ /*Optional blank space*/
    /*margin-bottom:1500px;*/
}

.url.box{
    height:0px;
    display:block;
    overflow:hidden;
}

.songName{
    background:#9be65a;
    color:#942d1f;
    animation:blink 2s linear infinite;
}
.player.box{
    background:#9be65a;
    color:#942d1f;
    border-radius:15px;
    animation:blink 2s linear infinite;
}

@keyframes blink{
    0%{background:#306304;color:#9be65a;}
    /*50%{background:#9be65a;color:#306304;}*/
    100%{background:#306304;color:#9be65a;}
} 

button{
 background:#306304;
 color:white;
 border-radius:15px;
 border:none;
}

@font-face{
    font-family:cum;
    src:url("https://files.gamebanana.com/bitpit/sansation_bold_fd334.ttf");
}

body {
    font-family: cum;
    padding-top: 45px;
    font-size: 15px;
    background-image: url(https://files.gamebanana.com/bitpit/giphy_2_.gif), url(https://files.gamebanana.com/bitpit/2020-red-christmas-ornament-animati.gif), url(https://files.gamebanana.com/bitpit/b906d71….gif), url(https://files.gamebanana.com/bitpit/3577473acie1d4pnh.gif);
    background-position: 0px 0px, 0px -20px, 98.3% 96.4%, 0px 0px;
    background-size: 30%, 120px, 20%, 300px; /*background-size: 20%, 5%, 20%, 20%;*/
    background-repeat: repeat-x,repeat-x,no-repeat,repeat;
    background-attachment: fixed, fixed, fixed, scroll;
    /* animation: stars 372s linear infinite; */
    animation-fill-mode: backwards;
    color: red;
}

@keyframes stars {
  0%   {background-position: -200% 300px, 95% 280%, 0px 0px;}
  100%  {background-position: 570% 300px, 95% 280%, 23808px 0px;}
}

.topLeft {
    float: left;
    width: none;
    padding: 10px;
    background-color: rgba(148, 45, 31, 0.8);
	backdrop-filter: blur(2px);
    color: #9be65a;
    border: 0px solid #9be65a;
    border-radius: 0px;
    margin-top: 25px;
    opacity: 1.0; /*0.9;*/
    
}


.extended {
    border: 1px solid #9be65a;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 15px;
    background: #942d1f;
    border: 1px solid #499c03 /*#65d406*/;                        }

.extended a{ color: #9be65a;


}


.blogs, .blog {
    margin-bottom: 20px;
    background-color: #942d1f;
    color: #9be65a;
}



#header {
    all: unset;
    font-family: Arial;
    font-size: 15px;
    background: rgba(148, 45, 31, 0.8) !important;
    color: #499c03 /*#65d406*/ !important;
    position: absolute !important;
    width: 98% ;
    height: 70px !important;
    padding: 5px;
    left: 0px;
    top: 0px;
    opacity: 0.9 !important;
    
    border-bottom: 1px solid #942d1f;
    padding-left: 10px;
    padding-top: 6px;
    overflow: hidden;
    z-index: 300;
	
	backdrop-filter: blur(7px);
}



#hSub {
    all: unset;
    font-family: Arial;
    font-size: 15px;
    background: #942d1f !important;
    font-size: small;
    margin: 0px;
    padding: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-left: 10px;
    padding-top: 4px;
    position: absolute !important;
    left: 0;
    top: 54px !important;
    width: calc(100% - 15px );
        color: #65d406 !important;
    height: 15px;
    z-index: 300;
	
	backdrop-filter: blur(7px);
}


#container { margin-top: 30px;



}


.rightHead {
    background: #942d1f;
    color: #499c03 /*#65d406*/;
    padding-left: 4px;
    font-size: 30px;
}

.blurbs {
    margin-bottom: 20px;
    background: #942d1f;
    color: #65d406; 
border: 1px solid #65d406;

}
h4 {
    color: #9be65a;
    margin-bottom: 0px;
    font-size: 30px;
}

a.logo {
    color: white;
    text-decoration: none;
    /*content: url(https://files.gamebanana.com/bitpit/5878531649e31dd68c52529e00059976sm.png);*/

}

a,b { color: #9be65a;


}

a:hover { color: white;


}


.boxButton {
    display: inline-block;
    width: calc( 49% - 60px );
    padding-left: 30px;
    height: 24px;
    font-size: small;
    color: #9be65a;
    padding-top: 7px;
}


.boxHead {
    background: #499c03 /*#65d406*/;
    color: white;
    padding: 3px;
    padding-bottom: 4px;
    padding-left: 6px;
}


p { font-size: 20px;


}


.fwiendCounter { font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #499c03 /*#65d406*/;
    background: #942d1f;
}



#top {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #942d1f;
}



#commentInput {
    width: calc( 100% - 6px );
    margin: 0;
    margin-top: 10px;
    height: 100px;
    background: rgba(148, 45, 31, 0.8);
	backdrop-filter: blur(2px);
    border: 1px solid #499c03 /*#65d406*/;
	border-radius: 7px;
    color: #9be65a;
}

.tableLeft {
    background: #942d1f;
    width: 25%;
    padding: 10px;
    vertical-align: top;
    overflow: hidden;
}

.tableRight {
    width: 75%;
    background: #942d1f;
    padding: 10px;
    vertical-align: top;
    overflow-wrap: anywhere;
    color: #499c03 /*#65d406*/;
}
.player {
    padding: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #942d1f;
    color: #499c03 /*#65d406*/;
    width: calc(100% - 10px );
    border: 1px solid #499c03 /*#65d406*/;
}
#hSub a {
    color: #65d406;
    text-decoration: none;
    font-family: courier;
    font-size: 20px;
    margin-left: 5px;
}

#hSub a:hover { color: white;


}

.url {
    border: none;
    padding: 2px;
}

.rightHead{font-size:0px;height:0px;width:0px;padding:0px;margin:0px;} 

@font-face{
    font-family:quake; src:url("https://files.gamebanana.com/bitpit/dpquake_.ttf");
}
@font-face{
    font-family:dongs; 
    src:url("https://files.gamebanana.com/bitpit/space_age.ttf");}
h1, h2, h3, h4, h5{
    font-family:dongs;
    /*text-decoration:none;*/
    /*text-shadow: 0px 0px 2px #9be65a;*/
}

a{font-family:cum;}
.extended{font-size:24px;}
b.boxHead{font-family:quake;font-size:24px;}

#name.uName{
    font-size:56px;
    margin-bottom:0px;
    margin-top:0px;
    margin-left:auto;
    margin-right:auto;
    width:80%;
    text-align:center;
}

* {
    opacity:1.0;
    animation:fadein 1s linear;
}
@keyframes fadein{
0%{opacity:0.0;}
100%{opacity:1.0;}
}

/*.topLeft{position:fixed;width:409.59px;height:605.42px;}*/
.topLeft{position:sticky;top:5px;}

/* Smartphone Portrait and Landscape */
  @media only screen
    and (min-device-width : 50px)
    and (max-device-width : 800px){
     .topLeft {position:static;} .blogCard{width: -webkit-fill-available;}
}
#footer{
    border: 1px solid #9be65a;
} }
/* this is fucking retarded
@media only screen
    and (min-device-width : 443px)
    and (max-device-width : 700px){
     #container{x-overflow:scroll;} .topRight{width:890px;}
  }*/
@media only screen
    and (min-device-width : 400px)
    and (max-device-width : 700px){
     .blogCard{width: -webkit-fill-available;} .topLeft{width: -webkit-fill-available;}
  }/*end smartphone compat section*/
 
 
*::-moz-selection { color: #7aff78; background-color:red; }
*::selection { color: #7aff78; background-color:red; }
 
