#name.uName{
    font-size:56px;
    margin-bottom:14px; /*14px preferred, 0px min*/
    padding-bottom:2px;
    margin-top:14px; /*top margin recommended but not needed*/
    padding-top:2px;
    margin-left:auto;
    margin-right:auto;
    width:80%;
/*animation: pump 0.545454546s linear infinite;/*can't be disabled on blog*/
content:url("https://files.gamebanana.com/bitpit/acfa68bd01f226997ceaebf512dd55cf.png"); 

/*Quake: https://files.gamebanana.com/bitpit/acfa68bd01f226997ceaebf512dd55cf.png*/
/*Space Age: https://files.gamebanana.com/bitpit/615cd467dff91f8ba858967064b133b6.png*/
}

#sMsg::after {content:"Annoy";font-size:15px;cursor: url(https://files.gamebanana.com/bitpit/red_neon_links.cur);}
#sMsg {font-size:0px;}
#block::after {content:"Be a Pussy";font-size:15px;cursor: url(https://files.gamebanana.com/bitpit/red_neon_links.cur);}
#block {font-size:0px;}
#report::after{content:"Snitch";font-size:15px;cursor: url(https://files.gamebanana.com/bitpit/red_neon_links.cur);} 
#report{font-size:0px;} 

#avatar.avatar{margin-top:10px;padding-top:5px;padding-bottom:5px;
background: -moz-radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(255,85,0,0.577468487394958) 33%, rgba(2,0,36,0) 49%);
background: -webkit-radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(255,85,0,0.577468487394958) 33%, rgba(2,0,36,0) 49%);
background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(255,85,0,0.577468487394958) 33%, rgba(2,0,36,0) 49%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#020024",GradientType=1);}

@keyframes pump{
0%{width:calc(80% - 30px);padding-top:6.45px;padding-bottom:6.45px;}
95%{width:80%;padding-top: 2.5px;padding-bottom:2px;}
100%{width:calc(80% - 30px);padding-top:6.45px;padding-bottom:6.45px;}
}

@media only screen
    and (min-device-width : 50px)
    and (max-device-width : 800px){
#name.uName{animation: none;
margin-top:14px; /*fixes overlapping on header in blog page*/
}}

#online{content:url("https://files.gamebanana.com/bitpit/online_2_1_.gif");}
