/*This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
    */
@import url("https://bonkmaykrq.github.io/kurs-myspace-themes/snippets/dependencies/custom-cursors.css");

:root{
    --defaultCursor:        url("https://files.gamebanana.com/bitpit/red_neon_normalselect_444a7.cur"),default !important;
    --textCursor:   url("https://files.gamebanana.com/bitpit/aero_beam_yellow_cyan.cur"),text !important;
    --pointerCursor:   url(),default !important;
}

 /** {
    cursor: url(https://files.gamebanana.com/bitpit/red_neon_normalselect_444a7.cur), auto;
}*/

.topLeft.blogCard{margin-top:10px !important;}

div{background-opacity:0.92;} /*css 3 doesn't support this*/

a, button {
    cursor: url(https://files.gamebanana.com/bitpit/red_neon_links.cur), auto;
}

#viewFriends{
    background:black;
    padding-right:22px;
    padding-left:22px;
    border:5px purple solid;
    border-radius:20px;
} 

#footer{
    color:pink;
    border:5px solid pink;
    border-radius:40px;
    background:black;
   /*position:sticky; /*optional*/
}

#container{ /*Optional blank space*/
    /*margin-bottom:1500px;*/
}

.url.box{
    height:0px;
    display:block;
    overflow:hidden;
}

.songName{
    background:pink;
    color:black;
    animation:blink 2s linear infinite;
}
.player.box{
    background:pink;
    color:black;
    border-radius:15px;
    animation:blink 2s linear infinite;
}

@keyframes blink{
    0%{background:purple;color:pink;}
    /*50%{background:pink;color:purple;}*/
    100%{background:purple;color:pink;}
} 

button{
 background:purple;
 color:white;
 border-radius:15px;
 border:none;
}

@font-face{
    font-family:cum;
    src:url("https://files.gamebanana.com/bitpit/sansation_bold_fd334.ttf");
}

body {
    font-family: cum;
    padding-top: 45px;
    font-size: 15px;
    background-image: url("https://files.gamebanana.com/bitpit/1_d3c0i3i-21281198-8f88-473a-aa63-9.png"), url("https://files.gamebanana.com/bitpit/0rt9b.png"), url("https://files.gamebanana.com/bitpit/7400def3d411768dfdd0205c5cc347e6.gif"); 
    background-position: -200% 300px, 95% 280%, 0px 0px; /*minimum ship y-pos is 100px, default is 300px. Make sure to adjust the animation section too!*/
    background-repeat: no-repeat, no-repeat, repeat;
    background-attachment: fixed, fixed, fixed;
    animation: stars 372s linear infinite;
    animation-fill-mode: backwards;

    color:red;
}

@keyframes stars {
  0%   {background-position: -200% 300px, 95% 280%, 0px 0px;}
  100%  {background-position: 570% 300px, 95% 280%, 23808px 0px;}
}

.topLeft {
    float: left;
    width: none;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    color: pink;
    border-radius: 10px;
    margin-top: 25px;
    opacity: 1.0; /*0.9;*/
    
}


.extended {
    border: 1px solid #000;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 15px;
    background: black;
    border: 1px solid #9704bf;                        }

.extended a{ color: pink;


}


.blogs, .blog {
    margin-bottom: 20px;
    background-color: black;
    color: pink;
}



#header {
    all: unset;
    font-family: Arial;
    font-size: 15px;
    background: black !important;
    color: #9704bf !important;
    position: absolute !important;
    width: 98% ;
    height: 70px !important;
    padding: 5px;
    left: 0px;
    top: 0px;
    opacity: 0.9 !important;
    
    border-bottom: 1px solid black;
    padding-left: 10px;
    padding-top: 6px;
    overflow: hidden;
    z-index: 300;
}



#hSub {
    all: unset;
    font-family: Arial;
    font-size: 15px;
    background: black !important;
    font-size: small;
    margin: 0px;
    padding: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-left: 10px;
    padding-top: 4px;
    position: absolute !important;
    left: 0;
    top: 54px !important;
    width: calc(100% - 15px );
        color: #9704bf !important;
    height: 15px;
    z-index: 300;
}


#container { margin-top: 30px;



}


.rightHead {
    background: black;
    color: #9704bf;
    padding-left: 4px;
    font-size: 30px;
}

.blurbs {
    margin-bottom: 20px;
    background: black;
    color: #9704bf; 
border: 1px solid #9704bf;

}
h4 {
    color: pink;
    margin-bottom: 0px;
    font-size: 30px;
}

a.logo {
    color: white;
    text-decoration: none;
    /*content: url(https://files.gamebanana.com/bitpit/5878531649e31dd68c52529e00059976sm.png);*/

}

a,b { color: pink;


}

a:hover { color: white;


}


.boxButton {
    display: inline-block;
    width: calc( 49% - 60px );
    padding-left: 30px;
    height: 24px;
    font-size: small;
    color: pink;
    padding-top: 7px;
}


.boxHead {
    background: #9704bf;
    color: white;
    padding: 3px;
    padding-bottom: 4px;
    padding-left: 6px;
}


p { font-size: 20px;


}


.fwiendCounter { font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #9704bf;
    background: black;
}



#top {
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
}



#commentInput {
    width: calc( 100% - 6px );
    margin: 0;
    margin-top: 10px;
    height: 100px;
    background: grey;
    border: 1px solid #9704bf;
	border-radius: 7px;
    color: pink;
}

.tableLeft {
    background: black;
    width: 25%;
    padding: 10px;
    vertical-align: top;
    overflow: hidden;
}

.tableRight {
    width: 75%;
    background: black;
    padding: 10px;
    vertical-align: top;
    overflow-wrap: anywhere;
    color: #9704bf;
}
.player {
    padding: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: black;
    color: #9704bf;
    width: calc(100% - 10px );
    border: 1px solid #9704bf;
}
#hSub a {
    color: #9704bf;
    text-decoration: none;
    font-family: courier;
    font-size: 20px;
    margin-left: 5px;
}

#hSub a:hover { color: white;


}

.url {
    border: none;
    padding: 2px;
}

.rightHead{font-size:0px;height:0px;width:0px;padding:0px;margin:0px;} 

@font-face{
    font-family:quake; src:url("https://files.gamebanana.com/bitpit/dpquake_.ttf");
}
@font-face{
    font-family:dongs; 
    src:url("https://files.gamebanana.com/bitpit/space_age.ttf");}
h1, h2, h3, h4, h5{
    font-family:dongs;
    /*text-decoration:none;*/
    /*text-shadow: 0px 0px 2px pink;*/
}

a{font-family:cum;}
.extended{font-size:24px;}
b.boxHead{font-family:quake;font-size:24px;}

#name.uName{
    font-size:56px;
    margin-bottom:0px;
    margin-top:0px;
    margin-left:auto;
    margin-right:auto;
    width:80%;
    text-align:center;
}

* {
    opacity:1.0;
    animation:fadein 1s linear;
}
@keyframes fadein{
0%{opacity:0.0;}
100%{opacity:1.0;}
}

/*.topLeft{position:fixed;width:409.59px;height:605.42px;}*/
.topLeft{position:static/*sticky*/;top:5px;}

/* Smartphone Portrait and Landscape */
  @media only screen
    and (min-device-width : 50px)
    and (max-device-width : 800px){
     .topLeft {position:static;background-color: rgba(0, 0, 0, 0.6);} .blogCard{width: -webkit-fill-available;}
     body{background-position:-100000px -100000px,-100000px -100000px,0px 0px}
     @keyframes stars {
  0%   {background-position: --100000px -100000px, -100000px -100000px, 0px 0px;}
  100%  {background-position: -100000px -100000px, -100000px -100000px, 23808px 0px;}
}
#footer{
    border: 1px solid pink;
} }
/* this is fucking retarded
@media only screen
    and (min-device-width : 443px)
    and (max-device-width : 700px){
     #container{x-overflow:scroll;} .topRight{width:890px;}
  }*/
@media only screen
    and (min-device-width : 400px)
    and (max-device-width : 700px){
     .blogCard{width: -webkit-fill-available;} .topLeft{width: -webkit-fill-available;}
  }/*end smartphone compat section*/
 
 
*::-moz-selection { color: black; background-color:yellow; }
*::selection { color: black; background-color:yellow; }

#online{content:url("https://files.gamebanana.com/bitpit/online_2_1_.gif");}
